$border-radius: 2px;
$border-radius-button: $border-radius;
$border-radius-textfield: 3px;

$border: 2px solid;

$padding: 8px;
$button-padding: $padding;
$textfield-padding: $padding;

$vertical-margin: 10px;
$horizontal-margin: 5px;

$spacing: 8px;
