$border-radius: 2px;
$border-radius-button: $border-radius;
$border-radius-textfield: 3px;

$border: 1px solid;

$padding: 8px;
$button-padding: $padding;
$textfield-padding: $padding;

$vertical-margin: 10px;
