.container {
    display: flex;
    height: 100vh;

    background: #ededed;
}

.dialog {
    margin: auto;
    max-width: 330px;
}

.dialog-content {
    margin-bottom: 10px;
}

.dialog-title {
    text-align: center;
    margin-bottom: 20px;
}

.dialog-actions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.dialog-action {
    flex: 1;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;

    &:first-child {
        margin-top: 0;
    }

    a {
        text-decoration: none;
        display: block;

        color: black;
    }
}

.dialog-action.link {
    padding: 0;

    a {
        padding: 5px;
    }
}

#nickname-form {
    display: flex;
    position: relative;
    align-items: baseline;
}

#nickname-form input {
    flex: 1;
    padding: 5px;
}
