.LobbySettings {
    position: relative;

    .Lobby-code {
        position: absolute;
        right: 5px;
    }

    .Lobby-players {
    }

    .Lobby-player-id {
    }

    .Lobby-player-nickname {
        font-weight: bold;
    }
}
