// TODO: Replace constants for variables
// TODO: Define hover, focus, etc

.Button {
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid;

    &:focus, &:hover {
        border-color: #4a4a4a;
    }

    // TODO: Add browser prefixes to cursor
    cursor: pointer;

    // TODO: Add browser prefixes to user-select
    user-select: none;

    // TODO: Create font-size variable for Button
    font-size: 18px;

    // TODO: Define global padding for controls
    padding: 8px;

    // TODO: Define global border-radius
    border-radius: 2px;

    // TODO: Create #ededed variable
    background: #ededed;
    border-color: #ededed;

    // TODO: Create #4a4a4a variable
    color: #4a4a4a;
}

.Button-success {
    background: #8ef2a8;
    border-color: #8ef2a8;
}

.Button-warning {
    // TODO: Define background for Button-warning
}

.Button-error {
    background: #f68585;
    border-color: #f68585;
}

.Button-fullWidth {
    width: 100%;
}
