@import 'styles/all';

.Button {
    display: block;
    text-align: center;
    text-decoration: none;
    border: $border;

    &:hover {
        border-color: $foreground-color;
    }

    @include cursor(pointer)

    @include user-select(none)

    font-size: $button-font-size;

    padding: $button-padding;

    border-radius: $border-radius-button;

    background: $border-color;
    border-color: $border-color;

    color: $icon-color;
}

.Button-success {
    background: $green-color;
    border-color: $green-color;
}

.Button-warning {
    background: $yellow-color;
    border-color: $yellow-color;
}

.Button-error {
    background: $red-color;
    border-color: $red-color;
}

.Button-fullWidth {
    width: 100%;
}

.Button-verticalGutters {
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
}

.Button-topGutter {
    margin-top: $vertical-margin;
}

.Button-bottomGutter {
    margin-bottom: $vertical-margin;
}

.Button-disabled {
    background: $border-color;
    border-color: $border-color;
    pointer-events: none;
    @include cursor(default);
}
