@import 'styles/spacing';

.Menu {
    margin: auto;

    width: 310px;
}

.Menu-title {
    text-align: center;

    margin-bottom: $vertical-margin;
}

.Menu-content {
    display: flex;
    flex-direction: column;
}

.Menu-actions {}
