// TODO: Replace contants for variables

.Menu {
    margin: auto;

    width: 310px;
}

.Menu-title {
    text-align: center;

    margin-bottom: 20px;
}

.Menu-content {
}

.Menu-actions {
    margin-top: 10px;
}
