@import 'styles/all';

.Textfield {
    display: flex;
    position: relative;
}

.Textfield-label {
    position: absolute;
    top: -8px;
    left: 5px;

    @include user-select(none)

    @include cursor(pointer)

    font-size: $textfield-label-font-size;

    color: $foreground-color;
}

.Textfield-input {
    flex: 1;

    &:focus, &:hover {
        border-color: $silver-color;
    }

    padding: $textfield-padding;

    border-radius: $border-radius-textfield;
    border: $border;
    border-color: $border-color;

    font-size: $textfield-font-size;
}

.Textfield-verticalGutters {
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
}

.Textfield-topGutter {
    margin-top: $vertical-margin;
}

.Textfield-bottomGutter {
    margin-bottom: $vertical-margin;
}
