// TODO: Replace contants for variables
// TODO: Define hover, focus, etc

.Textfield {
    display: flex;
    position: relative;
}

.Textfield-label {
    position: absolute;
    top: -8px;
    left: 5px;

    // TODO: Add browser prefixes to user-select
    user-select: none;


    // TODO: Create font-size variable for Textfield-label
    font-size: 11px;

    // TODO: Create #4a4a4a variable
    color: #4a4a4a;
}

.Textfield-input {
    flex: 1;

    &:focus, &:hover {
        border-color: #dbdbdb;
    }

    // TODO: Define global padding for controls
    padding: 8px;

    // TODO: Create border variables for Textfield-input
    border-radius: 3px;
    border-width: 1px;
    border-color: #ededed;
    border-style: solid;
}

.Textfield-verticalGutter {
    margin-top: 10px;
}
