* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Disables browser outline on input and button elements */
a, *:focus {
    outline: 0 !important;
}

button::-moz-focus-inner {
  border: 0;
}

p {
    word-wrap: break-word;
}

html, body {
    min-height: 100vh;
}
